body{
  background-image: url(/home/victor/Documents/moringa-school-projects/week2/Triangle-Tracker/images/triangle_abstract.jpg);
  background-attachment: fixed;
}
.navigation{
  font-size: 40px;
}
.logo{
  height: 32px;
  width: 30px;
  text-indent: 400px;

}
h1{
  text-indent: 440px
}
.column{
  background-color: green;
  border: dotted;
  text-align: left;
  font-size: 32px;
}
.float{
  float: left;
}
.textsize{
  font-size: 32px;
}
