body{
  background-image: url(https://fsb.zobj.net/crop.php?r=YXBuFp46YXDenFPXFygZGO6reomWbJdscEvKuQOpZRNiMddqDrwS5PizfRlF9J0thsbcnJZ2cD4duzQsurqWZX1Xxbabe-yMEENT2Xx1eI66wjRrRJxppMnY8mHMh4pwczPIJvmnG2M2zh_s);
  background-attachment: fixed;
}
.navigation{
  font-size: 40px;
}
.logo{
  height: 32px;
  width: 30px;
  text-indent: 400px;

}
h1{
  text-indent: 440px
}
.column{
  background-color: green;
  border: dotted;
  text-align: left;
  font-size: 24px;
}
.float{
  float: right;
}
.textsize{
  font-size: 32px;
}
footer{
  background-color: lightblue;
  text-align: center;
  list-style: inside;
}
.navigate{
  text-align: center;
}
