body{
  background-image: url(/home/victor/Documents/moringa-school-projects/week2/Triangle-Tracker/images/triangles (1).jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
}
.heading{
  text-align: center;
  font-size: 48px;
  font-weight: bolder;
  color: green;
  border: dotted;
  border-color: blue;
  background-color: lightblue;
}
html{

}
