body{
  background-image: url(/home/victor/Desktop/what_is_a_triangle.png);
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
}
.heading{
  text-align: center;
  font-size: 48px;
  font-weight: bolder;
  color: green;
  border: dotted;
  border-color: blue;
  background-color: lightblue;
}
.input{
  text-indent: 200px;
  list-style: inside;
  font-family: Arial,helvetica,sans-serif;
  font-size: 27px;
}
#text{
  font-style: italic;
  font-size: 24px;

}
.size{
  font-size: 24px;
}
.navigate{
  font-size: 28px;
  text-align: center;
}
